In [18]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random as rnd
import os

In [19]:
df = pd.read_csv('LinearReg_Single.csv')

In [20]:
df

    tedad      ghymat
0      11   56.509226
1      44  220.054123
2      92  461.330410
3      67  333.216476
4      96  481.063964
5       9   46.863451
6      37  186.756896
7      32  160.462176
8       1    6.391888
9      43  216.476154
10     71  355.090312
11     80  400.540845
12     38  190.863191
13     30  152.165609
14     93  466.023297
15     69  346.734516
16      8   40.881863
17     46  232.318870
18     54  270.863733
19     99  497.164610
20     72  361.571883
21     50  250.062848
22     60  302.235596
23     88  440.574523
24     49  247.530168
25     13   66.967373
26     51  255.491638
27     45  225.823547
28     48  240.332791
29     42  212.636596
30     75  376.831673
31     16   79.802218
32      2   10.636166
33     87  435.132954
34     19   98.217079
35     56  281.844600
36     35  176.506553
37     59  295.640270
38     21  105.443557
39     28  139.869389
40     57  286.583304
41     24  120.458346
42    100  500.161851
43     58  289.999864
44     73  364.967280
45     66  330.744536
46     23  115.132267
47     40  200.868276
48     20  100.214640
49      5   27.148643
50     22  112.047618
51     25  124.792627
52     85  427.330627
53     97  486.927060
54     65  325.667662
55     70  350.423934
56     36  180.229924
57     17   84.241693

In [21]:
X= df[['tedad']] #feature
y= df[['ghymat']] #label

In [22]:
X

    tedad
0      11
1      44
2      92
3      67
4      96
5       9
6      37
7      32
8       1
9      43
10     71
11     80
12     38
13     30
14     93
15     69
16      8
17     46
18     54
19     99
20     72
21     50
22     60
23     88
24     49
25     13
26     51
27     45
28     48
29     42
30     75
31     16
32      2
33     87
34     19
35     56
36     35
37     59
38     21
39     28
40     57
41     24
42    100
43     58
44     73
45     66
46     23
47     40
48     20
49      5
50     22
51     25
52     85
53     97
54     65
55     70
56     36
57     17

In [23]:
y

        ghymat
0    56.509226
1   220.054123
2   461.330410
3   333.216476
4   481.063964
5    46.863451
6   186.756896
7   160.462176
8     6.391888
9   216.476154
10  355.090312
11  400.540845
12  190.863191
13  152.165609
14  466.023297
15  346.734516
16   40.881863
17  232.318870
18  270.863733
19  497.164610
20  361.571883
21  250.062848
22  302.235596
23  440.574523
24  247.530168
25   66.967373
26  255.491638
27  225.823547
28  240.332791
29  212.636596
30  376.831673
31   79.802218
32   10.636166
33  435.132954
34   98.217079
35  281.844600
36  176.506553
37  295.640270
38  105.443557
39  139.869389
40  286.583304
41  120.458346
42  500.161851
43  289.999864
44  364.967280
45  330.744536
46  115.132267
47  200.868276
48  100.214640
49   27.148643
50  112.047618
51  124.792627
52  427.330627
53  486.927060
54  325.667662
55  350.423934
56  180.229924
57   84.241693

In [24]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 26)

In [28]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [29]:
predictions = regressor.predict(X_test)
print(X_test)

    tedad
10     71
9      43
5       9
36     35
11     80
54     65
2      92
22     60
37     59
40     57
39     28
43     58
7      32
44     73
55     70

In [30]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 0.7068464538583437
Mean Squared Error: 0.5950332655274629
Root Mean Squared Error: 0.7713839935644652

In [32]:
#MAE ==> SIGMA(|Y_Actual - Y_Pred|) / N
#MSE ==> SIGMA((Y_Actual - Y_Pred)**2))/N
#RMSE ==> SQRT(MSE)

In [33]:
# 5x + 1
pred = regressor.predict([[1000]])
print(pred)

[[5002.13383506]]

In [34]:
regressor.coef_

array([[5.00113498]])

In [35]:
regressor.intercept_

array([0.99885531])